<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search Department</title>
</head>
<body>
	<h1>Search Department</h1>
	<form th:action="@{/department/search}" method="post">
		<input name = "id" th:value="${idDpm}" placeholder="tim kiem id ..."/>
		<input name = "name" th:value="${name}" placeholder="tim kiem ten ..."/>
		<input name = "dDate" th:value="${dpmDate}" placeholder="tim kiem ngay khoi tao ..."/>
		
		<button type = "submit">Search</button>
	</form>
	<br>
	<table border=1>
		<tr>
			<th>ID Department</th>
			<th>Name Department</th>
			<th>Date</th>
			<th>Option</th>
		</tr>
		<tr th:each="department : ${dpmList}">
			<th th:text="${department.idDpm}"></th>
			<th th:text="${department.name}"></th>
			<th th:text="${department.dpmDate}"></th>
			<th>
				<a th:href="@{/department/add/}">Add</a> 
				<a th:href="@{'/department/get/' + ${department.idDpm}}">View</a> 
				<a th:href="@{'/department/delete?idDpm=' + ${department.idDpm}}">Delete</a>
				<a th:href="@{'/department/edit?idDpm=' + ${department.idDpm}}">Edit</a>
			</th>
		</tr>
	</table>
</body>
</html>