<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Search</title>
</head>
<body>

	<div th:each="person : ${pList}">
		<p th:text="${person.id}"></p>
		<p th:text="${person.name}"></p>
		<p th:text="${person.age}"></p>
		<p th:text="${person.country}"></p>
		<div>
			<a th:href="@{/person/add/}">Add</a> 
			<a th:href="@{'/person/get/' + ${person.id}}">View</a> 
			<a th:href="@{'/person/delete?id=' + ${person.id}}">Delete</a>
			<a th:href="@{'/person/edit?id=' + ${person.id}}">Edit</a>
		</div>
	</div>

</body>
</html>