<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Forget Password</title>
	<link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
	<div class="center">
		<div class="login">
			<form th:action="@{/forgetpassword}" method="post">
				<h2>Update Password</h2>
				<p>We will be sending a reset password link to your email</p>
				<div>
					<input type="text" placeholder="Username" name="username">
				</div>
				<div>
					<button type="submit">Submit</button>
				</div>
			</form>
		</div>
		
	</div>
	
</body>
</html>